{% extends 'store/base.html' %}

{% block content %}
	
	  <!-- cart view -->
	  <section class="cart" id="">
		<div class="caption"> Shopping Cart</div>
		{% if not cart %}
	
					<div class="empty-cart">
						<p>Your cart is currently empty.</p>
						<a href="{{ url_for('product.products') }}">CONTINUE SHOPPING</a>
					</div>

		{% else %}

			{% for item in cart %}
			<div class="cart-container">
				<div class="cart-content">
					<table>
						
						<tr>
							<th></th>
							<th></th>
							<th>Product</th>
							<th>Price</th>
							<th>Quantity</th>
						</tr>

						<tr>
							<td><a href="#"><i class='bx bx-x' ></i></a></td>
							<td><div id="t-img"><img src="{{ url_for('product.media', filename=item.filename) }}" alt=""></div></td>
							<td>{{item.name}}</td>
							<td>${{item.price}}</td>
							<td>{{item.quantity}}</td>
						</tr>

						<tr>
							<td colspan="6"><a href="#" id="update-cartbtn">Update cart</a>
							</td>
						</tr>

					</table>
					
				</div>
				{% endfor %}

					<div class="checkout">
						<h3>Cart total</h3>
								<div class="checkout-content">
									<div class="subtotal">
										<p>SUBTOTAL</p>
										<span>${{subtotal}}</span>
									</div>

									<div class="total">
										<p>TOTAL</p>
										<span>${{subtotal}}</span>
									</div>
								</div>  

						
							
									<button type="button" class="checkout-btn" onclick="payWithPaystack()"> Proceed to checkout</button>
							
					</div>


			</div>
			
		{% endif %}
		
	</section>

		{% block scripts %}
		<script>
			function payWithPaystack(){
				var handler = PaystackPop.setup({
					key: "{{ paystack_pk }}",
					email: "{{ email }}",
					amount: "{{ subtotal }}" * 100,
					ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
					metadata: {
						custom_fields: [
							{
								display_name: "{{name}}",
								variable_name: "{{ email }}",
								mobile_number:  "",
								value: "+2348012345678"
							}
						]
					},
					callback: function(response){
						// alert('success. transaction ref is ' + response.reference);
					},
					onClose: function(){
						alert('window closed');
					}
				});
				handler.openIframe();
			}
		</script>
	{% endblock %}
{% endblock %}

