{% extends 'store/base.html' %}

{% block content %}
	
	  <!-- cart view -->
	  <section class="cart" id="">
		<div class="caption"> Shopping Cart</div>
		{% if not cart %}
	
					<div class="empty-cart">
						<p>Your cart is currently empty.</p>
						<a href="{{ url_for('product.products') }}">CONTINUE SHOPPING</a>
					</div>

		{% else %}

			{% for item in cart %}
			<div class="cart-container">
				<div class="cart-content">
					<table>
						
						<tr>
							<th></th>
							<th></th>
							<th>Product</th>
							<th>Price</th>
							<th>Quantity</th>
							<th>Subtotal</th>
						</tr>

						<tr>
							<td><a href="#"><i class='bx bx-x' ></i></a></td>
							<td><div id="t-img"><img src="img/tren2.jpg" alt=""></div></td>
							<td>Bags</td>
							<td>$300</td>
							<td>2</td>
							<td>$600</td>
						</tr>

						
						<tr>
							<td><a href="#"><i class='bx bx-x' ></i></a></td>
							<td><div id="t-img"><img src="img/tren2.jpg" alt=""></div></td>
							<td>Bags</td>
							<td>$300</td>
							<td>2</td>
							<td>$600</td>
						</tr>

						
						<tr>
							<td><a href="#"><i class='bx bx-x' ></i></a></td>
							<td><div id="t-img"><img src="img/tren2.jpg" alt=""></div></td>
							<td>Bags</td>
							<td>$300</td>
							<td>2</td>
							<td>$600</td>
						</tr>

						<tr>
							<td colspan="6"><a href="#" id="update-cartbtn">Update cart</a>
							</td>
						</tr>

					</table>
					
				</div>

					

					<div class="checkout">
						<h3>Cart total</h3>
								<div class="checkout-content">
									<div class="subtotal">
										<p>SUBTOTAL</p>
										<span>$299</span>
									</div>

									<div class="total">
										<p>TOTAL</p>
										<span>$400</span>
									</div>
								</div>  

						
								<a href="#" class="checkout-btn"> Proceed to checkout</a>
							
					</div>


			</div>
			{% endfor %}
		{% endif %}
		
	</section>


{% endblock content %}