{% extends 'store/base.html' %}

{% block content %}
    <!-- ***** Product Area Starts ***** -->
    {% if rows  %}
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <img src="{{ url_for('product.media', filename=rows.filename) }}" alt="Women">
                        </div>
                        <div class="down-content">
                            <h4>{{ rows.name}}</h4>
                            <span>{{ rows.price}}</span>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod kon tempor incididunt ut labore.</span>
                            <div class="quote">
                                <i class="fa fa-quote-left"></i><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiuski smod.</p>
                            </div>
                            <div class="quantity-content">
                                <div class="left-content">
                                    <h6>No. of Orders</h6>
                                </div>
                                <div class="right-content">
                                    <div class="quantity buttons_added">
                                        <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus">
                                    </div>
                                </div>
                            </div>
                            <div class="total">
                                <h4>Total: $210.00</h4>
                                <div class="main-border-button"><a href="#">Add To Cart</a></div>
                            </div>
                            <a href="{{ url_for('product.edit_product' , id =rows.id)}}">Edit</a>
                            <a href="{{ url_for('product.delete_product', id = rows.id)}}" class="delete"  onclick="return confirm('Are You Sure To Delete ?')" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </div>
                    </div>
                </div>
    {% endif  %}
    <!-- ***** Product Area Ends ***** -->
{% endblock  %}
