*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
    
    }

#paymentForm{
    width: 100%;
    margin: 40px auto;
}
.form-group{
    margin:20px 0;
}

/* Cart section */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}



.pic {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.table thead {
    background-color: #21cf95;
}

.table thead th {
    padding: 30px;
    font-size: 14px;
    color: white;
}

.table tbody td input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #eee;
    position: relative;
    border-radius: 3px;
    cursor: pointer;
}

.container .table-wrap {

    margin: 20px auto;
    overflow-x: auto
}

.container .table-wrap::-webkit-scrollbar {
    height: 5px;
}

.container .table-wrap::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-image: linear-gradient(to right, #5D7ECD, #0C91E6);
}

.table>:not(caption)>*>* {
    padding: 2rem 0.5rem;
}

.input {
    width: 30px;
    height: 30px;
    color: black;
    font-weight: 600;
    outline: none;
    padding: 8px;
}

::placeholder {
    color: black;
    font-weight: 600;
}

.table tbody td input[type="checkbox"]:after {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f00c";
    color: #fff;
    font-size: 15px;
    display: none
}

.table tbody td input[type="checkbox"]:checked,
.table tbody td input[type="checkbox"]:checked:hover {
    background-color: #21cf95;
}

.table tbody td input[type="checkbox"]:checked::after {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table tbody td input[type="checkbox"]:hover {
    background-color: #ddd;
}

.table tbody td {
    padding: 30px;
    margin: 0;
    font-size: 14.5px;
    font-weight: 600;
}

.table tbody td .fa-times {
    color: #D32F2F;
}


.text-muted {
    font-size: 12.5px;
}

.table tbody tr td:nth-of-type(3) {
    min-width: 320px;
}

@media(min-width: 992px) {
    .container .table-wrap {
        overflow: hidden;
    }
}

/* Sign-up form */
/* .form-body{
    margin-top: 90px;
}

.form-container{
    background-color: rgba(139, 126, 152, 0.908);
    width:80%;
    height: auto;
    margin:auto;
    padding-right: 15px;
    padding-left: 15px;
}

.form-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-text{
    width: 50%;
    height: 200px;
    background: rgba(20, 20, 20, 0.057);
    padding: 30px 0;
    border-right: 5px solid rgba(30, 30, 30, .8);
}
.form-header{
    text-align: center;
}

form{
    width: 50%;
    padding: 30px 0;
    background: rgba(20, 40, 40, .8);
    color: white;
}
label{
    margin-top: 10px;
}

input{
    width: 100%;
    margin: 13px 20%;
    font-size: 16px;
    padding: 10px;
    outline: none;
    background: rgba(20, 20, 20, .2);
}

input[type="submit"]{
    width: 10%;
    border: 1px solid;
    border-radius: 20%;
    margin-top: 10px;
    
} */
