{% extends "store/base.html" %}
{% block content %}
     <!-- Signin page -->

     <section class="auth-container">
        <div class="auth-box">
            <div class="signin-text">
                
                <h2>Welcome back to <span>Ostore </span></h2>
                <p>Sign in to your account below.</p>
            </div>
            <form method="POST">
                {{ form.hidden_tag() }}
                
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <div class="success-feedback">
                  {% for message in messages %}
                   <span>{{message}}</span>
                  {% endfor %}
                </div>
                {% endif %}
              {% endwith %}


                    <div class="input-bx">
                        {{ form.email}}
                        {{ form.email.label(placeholder ="a") }}
                    </div>
                    {% if form.email.errors %}
                           <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                           </div>
                    {% endif %}

                    <div class="input-bx">
                        {{ form.password}}
                        {{ form.password.label(placeholder ="a") }}
                    </div>
                    {% if form.password.errors %}
                           <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                           </div>
                    {% endif %}

                    <div class="input-bx-btn">
                        {{ form.submit }}
                    </div>
            </form>

           <div class="signin-bm">
                <div class="checkbox">
                    <input type="checkbox"  id="checkbox">
                    <p>Remember me</p>
                </div>

                <a href="{{ url_for('user.reset_password') }}">Forgot password</a>

           </div>

           <span>Dont have an account? <a href="{{ url_for('user.register') }}">Create</a></span>

        </div>
       </section>
            


        <!-- signinpage end -->
        
{% endblock content %}