{% extends "store/base.html" %}
{% block content %}
     <!-- reset_with_token page -->

     <section class="auth-container">
        <div class="auth-box">
            <div class="signin-text">
                
                <h2>Reset your password</h2>
                <p> Please enter a new password</p>
            </div>
            <form method="POST">
                {{ form.hidden_tag() }}
                
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <div class="success-feedback">
                  {% for message in messages %}
                   <span>{{message}}</span>
                  {% endfor %}
                </div>
                {% endif %}
              {% endwith %}

              <div class="input-bx">
                {{ form.password}}
                {{ form.password.label(placeholder ="a") }}
            </div>
            {% if form.password.errors %}
                   <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                   </div>
            {% endif %}

            <div class="input-bx">
                {{ form.confirm_password}}
                {{ form.confirm_password.label(placeholder ="a") }}
            </div>
            {% if form.confirm_password.errors %}
                   <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                   </div>
            {% endif %}

            {{ form.submit }}
            </form>
            <span>

        </div>
       </section>
        <!-- reset_with_token end -->
        
{% endblock content %}