{% extends "store/base.html" %}
{% block content %}
     <!-- reset_password page -->

     <section class="auth-container">
        <div class="auth-box">
            <div class="signin-text">
                
                <h2>Reset password</h2>
                <p>We will send you an email to reset your password </p>
            </div>
            <form method="POST">
                {{ form.hidden_tag() }}
                
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <div class="success-feedback">
                  {% for message in messages %}
                   <span>{{message}}</span>
                  {% endfor %}
                </div>
                {% endif %}
              {% endwith %}


            <div class="input-bx">
                {{ form.email}}
                {{ form.email.label(placeholder ="a") }}
            </div>
            {% if form.email.errors %}
                    <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                    </div>
            {% endif %}

            <div class="input-bx-btn">
                {{ form.submit }}
            </div>
            </form>

           
           <span>Already have an account? <a href="{{ url_for('user.login') }}">signin</a></span>

        </div>
       </section>
        <!-- reset_password end -->
        
{% endblock content %}