{% extends 'store/base.html' %}
{% block content %}
        <form method="POST" action="" class="form">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create Account</legend>
                <div class="form-group">
                    {{ form.firstname.label(class="form-control-label") }}
                    {% if form.firstname.errors %}
                        {{ form.firstname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.firstname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.firstname(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.lastname.label(class="form-control-label") }}

                    {% if form.lastname.errors %}
                        {{ form.lastname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.lastname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.lastname(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            
          
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Already Have An Account? <a class="ml-2" href="{{ url_for('user.login') }}">Sign In</a>
                    </small>
                </div>
          
        </form>

        <!-- <div class="form-body">
            <div class="form-container">
                <div class="form-row">
                    <div class="form-text">
                        <label>Welcome to Ostore</label>
                    </div>

                    <form action="#" method="post" class="form">
                        <div class="form-header">
                            <h1>Sign Up</h1>
                            <p>Please fill in this form to create an account</p>
                        </div>

                        <label for="firstname"><b>Firstname</b></label>
                        <input type="text" name="firstname" id="firstname" placeholder="Enter Firstname" required>

                        <label for="lastname"><b>Lastname</b></label>
                        <input type="text" name="lastname" id="lastname" placeholder="Enter Lastname" required>
                    
                        <label for="email"><b>Email</b></label>
                        <input type="email" name="email" id="email" placeholder="Enter Email" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" name="psw" id="password" placeholder="Enter Password" required>

                        <label for="psw"><b>Confirm Password</b></label>
                        <input type="password" name="psw" id="confirm-password" placeholder="Confirm Password" required>

                        <input type="submit" name="submit" id="submit" value="Sign Up">
                        
                       <div class="form-group">
                            <div class="container">
                                <span>Already Have an account?</span>
                                <a href="#">Sign in</a>
                            </div>
                       </div>
                        
                    </form>

             </div>
            </div>
        </div> -->


{% endblock content %}